<div class="loading" *ngIf="loading">
  <img src="../../assets/images/loader.gif"/>
</div>
<div>
<h2>Reporte de ventas</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Mes</th>
    <th>Cantidad</th>
    <th>Ganancias</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let report of reports ">
    <td>{{report.month}}</td>
    <td>{{report.quantity}}</td>
    <td>{{report.earnings}}</td>
  </tr>
  </tbody>
</table>
<div class="report-country">
    <h2>Reporte por país</h2>
  Escoge el país:
  <select (change)="getReportByCountry(countryName)" [(ngModel)]="countryName">
    <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
  </select>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>País</th>
      <th>Cantidad</th>
      <th>Ganancias</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let report of reportByCountry ">
      <td>{{report.country}}</td>
      <td>{{report.quantity}}</td>
      <td>{{report.earnings}}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>