
<div class="loading" *ngIf="loading">
  <img src="../../assets/images/loader.gif"/>
</div>
<div *ngIf="!showForm">
<h2>Lista de usuarios</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Identificador</th>
    <th>CC</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Estado</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.cc}}</td>
    <td>{{user.name}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.state}}</td>
    <td>
      <button class="btn btn-info" (click)="update(user)">Editar</button>
      <button class="btn btn-danger" (click)="deleteUser(user)">Borrar</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="button">
  <button class="btn btn-primary" (click) = "newUser()" >Añadir nuevo</button>
</div>
</div>

<div *ngIf="showForm">
<form>
    <h2 class="text-center">User Form</h2>
    <div class="form-group" *ngIf="newData">
      <label for="firstName">Id:</label>
      <input [(ngModel)]="user.id" placeholder="Identifier" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
        <label for="firstName">CC:</label>
        <input [(ngModel)]="user.cc" placeholder="CC field" name="cc" class="form-control" id="cc">
      </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input [(ngModel)]="user.name" placeholder="Names" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input [(ngModel)]="user.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>
    <div class="form-group">
        <label for="state">State:</label>
        <input [(ngModel)]="user.state" placeholder="State" name="state" class="form-control" id="state">
    </div>
    <div class="button">
      <button class="btn btn-primary" (click)="showForm=false">Cancelar</button>
      <button class="btn btn-success" (click)="updateUser(user)" *ngIf="!newData">Guardar</button>
      <button class="btn btn-success" (click)="createUser(user)" *ngIf="newData">Agregar</button>
    </div>
</form>
</div>